{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Avempis</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Low Profile, High Product</h2>
    </div>
  </div>
</header>


<!-- Portfolio Section -->
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=krvsEeMOgRY">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/tak-setia.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Bila Tak Setia - Selly
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=bP5Jl0hBsgs">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/dengan-caraku.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Dengan Caraku Cover Nidya Oktaviani Ft Fikry Arman
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=ayjmJAox2ns">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/selamat-tinggal.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Selamat Tinggal Cinta Pertama
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=s_ApfJi3CFo">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/indonesia-pusaka.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Indonesia Pusaka
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=twwy-Eu-huQ">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/yang-terindah.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Yang Terindah
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=PIOEshJuOjg">
          <img class="img-fluid" src="https://raw.githubusercontent.com/avempisproduction/blobs/master/main/kisahku.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Cover
            </div>
            <div class="project-name">
              Kisahku
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">About Us</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">
          Avempis adalah kata lain dari "Avempace", julukan dari seorang filsuf, musisi, dan ilmuan muslim yang
          memiliki nama asli Ibnu Bajjah.
          Avempis ingin memiliki semangat yang sama seperti Ibnu Bajjah yang dapat menuangkan karyanya dengan
          pesan yang menginspirasi banyak orang.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">Our Services</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-microphone text-primary mb-4"></i>
          <h3 class="h4 mb-2">Audio Productions</h3>
          <p class="text-muted mb-0">Musik, Single Akustik/Band, Cover, Jingle, VO.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-video text-primary mb-4"></i>
          <h3 class="h4 mb-2">Video Productions</h3>
          <p class="text-muted mb-0">
            Musik Video, TVC, WebSeries, Review/Promosi Produk, etc.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-music text-primary mb-4"></i>
          <h3 class="h4 mb-2">Kursus Musik</h3>
          <p class="text-muted mb-0">
            Piano Pop,Keyboard, Guitar, Bass, Drum.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="page-section bg-primary" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Let's Roll!</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-5">Ready to start your next project with us? Contact us via whatsapp or email address below.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-white"></i>
        <div class="text-white">0821 1180 0717</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-white"></i>
        <a class="d-block text-white" href="mailto:info@avempis.com">info@avempis.com</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}
